# 数据集
test
train
benetech-making-graphs-accessible
data.json

# 预训练模型
archive
models

# 二进制文件
*.jpg
*.bin
*.model
*.pt

# jupyter notebook
*.ipynb

# 忽略已编译的 Python 文件
*.pyc

# 日志目录
loggings
*.ps1

# 工作区目录
.ropeproject
__pycache__
.ipynb_checkpoints